{% extends "pai/base.html" %}

{% block content %}
    <div class="main">
        <a href="{{ url_for('pai.home') }}">HOME</a><br>
        <a href="{{ url_for('pai.projects') }}">Projetos</a><br>
        <a href="{{ url_for('pai.new_project') }}">Novo Projeto</a><br>
        <a href="{{ url_for('pai.partners') }}">Sócios</a><br>
        <a href="{{ url_for('pai.new_partner') }}">Novo Sócio</a><br>
    </div>
    <div>
        {{ message }}
        <form name="newProject" method="POST">
            <div>
                <label>Nome do Projeto:</label>
                <input type="text" name="name" required="required">
            </div>
            <div id="partnersDiv">
                <label>Seu percentual:</label>
                <input type="number" name="percents" required="required" value="100"><br>
            </div>
            <input type="button" value="Adicionar Sócio" onClick="addPartner({{ partners }})"><br>

            <input type="submit" value="Salvar">
        </form>
    </div>

    <script type="text/javascript" charset="utf-8">
        function addPartner(partners){
            var newPartnerLabel = document.createElement('label')
            newPartnerLabel.innerHTML = "Sócio: "

            var newPartner = document.createElement('select');
            newPartner.name = "partners";

            var newPartnerPercentLabel = document.createElement('label')
            newPartnerPercentLabel.innerHTML = "  Percentual: "

            var newPartnerPercent = document.createElement('input');
            newPartnerPercent.type = "number";
            newPartnerPercent.name = "percents";

            for (i = 0; i < partners.length; i++) {
                if (i == 0)
                    newPartner.innerHTML += "<option value='" + partners[i][1] + "' selected>" + partners[i][0] + "</option>";
                else
                    newPartner.innerHTML += "<option value='" + partners[i][1] + "'>" + partners[i][0] + "</option>";
            }

            document.getElementById('partnersDiv').appendChild(newPartnerLabel);
            document.getElementById('partnersDiv').appendChild(newPartner);

            document.getElementById('partnersDiv').appendChild(newPartnerPercentLabel);
            document.getElementById('partnersDiv').appendChild(newPartnerPercent);

            document.getElementById('partnersDiv').appendChild(document.createElement('br'));
        }
    </script>
{% endblock %}
