{% extends "pai/base.html" %}

{% block content %}
    <div class="main">
        <a href="{{ url_for('pai.home') }}">HOME</a><br><br>
    </div>
    <div class="addProject">
        <form method="POST">
            <legend>Novo Projeto</legend>

            <div>
                <label>Nome:</label>
                <input type="text" id="name" name="name" required="required" placeholder="Nome">
            </div>

            <div id="partnersDiv" hidden="hidden">
                <label>Sócios:</label>
            </div>
            <input type="button" value="Adicionar Sócio" onClick="addPartner({{ partners }})">

            <input type="submit" value="Salvar">
        </form>
    </div>

    <script type="text/javascript" charset="utf-8">
        var counter = 1;
        function addPartner(partners){
            document.getElementById('partnersDiv').removeAttribute('hidden');
            var newPartner = document.createElement('select');
            newPartner.name = "partners"
            for (i = 0; i < partners.length; i++) {
                newPartner.innerHTML = "<option value='" + partners[i][1] + "'>" + partners[i][0] + "</option>";
            }
            document.getElementById('partnersDiv').appendChild(newPartner);
            counter++;
        }
    </script>
{% endblock %}


