<!DOCTYPE html>

<html>
    <head>
        <title>Construção</title>
        <meta charset="UTF-8">
        <link rel="shortcut icon" href="{{ url_for('static', filename='media/favicon.ico') }}" type="image/x-icon">
        <link rel="icon" href="{{ url_for('static', filename='media/favicon.ico') }}" type="image/x-icon">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/pai_base.css') }}">
    </head>

    <body>
        <div class="body">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>