body {
    margin: 0;
    padding: 0;

    background-color: #AAAAAA;

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #222222;
}

.menuBar {
    position: absolute;
    width: 100vw;
    height: 5vh;
    top: 0;
    left: 0;
    margin-bottom: 10;

    background-color: #202020;
    opacity: 0.85;
}

.menuBar .menuLogo {
    position: absolute;
    top: 0.5vh;
    left: 0.5vw;
    margin: 0;

    font-size: 1.8vmax;
    color: #FFFFFF;
}
